/*! 
This style for chat panel
Created By: @Harshal Patil
*/
	.chat .chat-history .you-message {
		background: #CCDBDC;
		color: #003366;
	}
	.chat .chat-history .me-message {
		background: #E9724C;
	}
	.chat .chat-history .me-message:after {
		border-color: #E9724C transparent;
		right: 20px;
		top: -15px;
		left: auto;
		bottom: auto;
	}
	.chat .chat-message {
		padding: 30px;
	}
	.chat .chat-message .fa-file-o,
	.chat .chat-message .fa-file-image-o {
		font-size: 16px;
		color: gray;
		cursor: pointer;
	}
	.chat-ul li {
		list-style-type: none;
	}
	.align-left {
		text-align: left;
	}
	.align-right {
		text-align: right;
		margin-top:15px;
	}
	.float-right {
		float: right;
	}
	.clearfix:after {
		visibility: hidden;
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 0;
	}
	.you {
		color: #CCDBDC;
	}
	.me {
		color: #E9724C;
	}